# Server
PORT=3000
NODE_ENV=development

# Database (MySQL)
DB_HOST=localhost
DB_PORT=3306
DB_NAME=pengaduan_db
DB_USER=root
DB_PASSWORD=putra270809

# JWT
JWT_SECRET=your_super_secret_jwt_key_here_min_32_chars
JWT_EXPIRES_IN=7d

# Upload
MAX_FILE_SIZE=5242880
UPLOAD_PATH=uploads
